/* Massive ass google font import link */
@import url("https://fonts.googleapis.com/css2?family=Coral+Pixels&family=Galindo&family=Poiret+One&family=Space+Grotesk&family=Special+Gothic+Expanded+One&family=Style+Script&display=swap");

/*The color pallet for the application*/
.theme-l5 {
  color: #000 !important;
  background-color: #ebf6ff !important;
}
.theme-l4 {
  color: #000 !important;
  background-color: #bedfff !important;
}
.theme-l3 {
  color: #000 !important;
  background-color: #7cc0ff !important;
}
.theme-l2 {
  color: #fff !important;
  background-color: #3ba0ff !important;
}
.theme-l1 {
  color: #fff !important;
  background-color: #0081f9 !important;
}
.theme-d1 {
  color: #fff !important;
  background-color: #0055a5 !important;
}
.theme-d2 {
  color: #fff !important;
  background-color: #004c93 !important;
}
.theme-d3 {
  color: #fff !important;
  background-color: #004281 !important;
}
.theme-d4 {
  color: #fff !important;
  background-color: #00396e !important;
}
.theme-d5 {
  color: #fff !important;
  background-color: #002f5c !important;
}

.theme-accent {
  color: #fff !important;
  background-color: #b45f06;
}

.theme-light {
  color: #000 !important;
  background-color: #ebf6ff !important;
}
.theme-dark {
  color: #fff !important;
  background-color: #002f5c !important;
}
.theme-action {
  color: #fff !important;
  background-color: #002f5c !important;
}

.theme {
  color: #fff !important;
  background-color: #0060ba !important;
}
.text-theme {
  color: #0060ba !important;
}
.error-text-theme {
  color: #b45f06 !important;
}
.border-theme {
  border-color: #0060ba !important;
}

.hover-theme:hover {
  filter: invert(1);
}
.hover-text-theme:hover {
  filter: invert(1);
}
.hover-border-theme:hover {
  filter: invert(1);
}

.nav-anchor-visited:visited {
  color: #fff !important;
  text-decoration: none;
}
.nav-anchor-hover:hover {
  filter: invert(1);
  text-decoration: none;
}

.nav-logo:hover,
:visited {
  filter: invert(1);
  text-decoration: none;
}
.nav-anchor-hover:hover {
  filter: invert(1);
  text-decoration: none;
}

.nav-achor-hover:hover * {
  filter: invert(1);
}

.nav-logo:hover,
:visited {
  color: #fff !important;
}

.registerLink-hover:hover {
  filter: invert(1);
}

.footer-anchor-hover:hover {
  filter: invert(1) !important;
  text-decoration: none;
}

.custom-accent-btn {
  color: #fff !important;
  background-color: #b45f06 !important;
  border: none;
  width: 160px;
}

.custom-accent-btn:hover {
  filter: invert(1);
}

.custom-btn {
  border: none;
  width: 160px;
}

.custom-btn:hover {
  filter: invert(1);
}

.custom-caret {
  border-right: solid 1px black;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* Themes for settings testing */
.theme-blue1 {
  color: white !important;
  background-color: #002f5c !important;
  border-color: white !important;
  outline-color: white !important;
}

.theme-green1 {
  color: white !important;
  background-color: #182c25 !important;
  border-color: white !important;
  outline-color: white !important;
}

.theme-red1 {
  color: white !important;
  background-color: #de2a36 !important;
  border-color: white !important;
  outline-color: white !important;
}

.theme-yellow1 {
  color: black !important;
  background-color: #ffee8c !important;
  border-color: black !important;
  outline-color: black !important;
}

.accent-theme-blue1 {
  color: white !important;
  border-color: white !important;
  background-color:#b45f06 !important;
}

.btn-theme-blue1 {
  color: white !important;
  border-color: white !important;
  background-color:#b45f06 !important;
}

.btn-theme-blue1:hover {
  color:black !important;
  background-color:#c98032 !important;
}

.accent-theme-green1 {
  color: white !important;
  border-color: white !important;
  background-color: #306844 !important;
}

.btn-theme-green1 {
  color: white !important;
  border-color: white !important;
  background-color: #306844 !important;
}

.btn-theme-green1:hover {
  color: white !important;
  background-color: #478b5f !important;
}

.accent-theme-red1 {
  color: black !important;
  outline: black !important;
  border-color: black !important;
  background-color: #b4aba2 !important;
}

.btn-theme-red1 {
  color: black !important;
  border-color: black !important;
  background-color: #b4aba2 !important;
}

.btn-theme-red1:hover {
  color: black !important;
  border-color: black !important;
  background-color: #e7e0d9 !important;
}

.accent-theme-yellow1 {
  color: black !important;
  border-color: black !important;
  background-color: #8A804C !important;
}

.btn-theme-yellow1 {
  color: black !important;
  border-color: black !important;
  background-color: #8A804C !important;
}

.btn-theme-yellow1:hover {
  color: white !important;
  border-color: white !important;
  background-color: #615A35 !important;
}

.icon-theme-blue1 {
  color: white;
}

.icon-theme-green1 {
  color: white;
}

.icon-theme-red1 {
  color: white;
}

.icon-theme-yellow1:hover {
  color: black;
}

.icon-theme-blue1:hover {
  color: white;
}

.icon-theme-green1:hover {
  color: white;
}

.icon-theme-red1:hover {
  color: white;
}

.icon-theme-yellow1:hover {
  color: black;
}

.special-gothic-expanded-one-regular {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.coral-pixels-regular {
  font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
}

.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.style-script-regular {
  font-family: "Style Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.galindo-regular {
  font-family: "Galindo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poiret-one-regular {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
